@model List<mymoney.Models.Daily>

@{
    ViewBag.Title = "Mymoney";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Mymoney</h2>

<table class="table">
    <thead><tr><td>編號</td><td>項目</td><td>金額</td><td>日期</td><td>支付方式</td></tr></thead>
    <tbody>
        @foreach (var pd in this.Model) /* 使用foreach將所有商品列出 */
        {
            <tr>
                <td>@pd.Id</td>
                <td>@pd.Item</td>
                <td>@pd.Price</td>
                <td>@pd.Date</td>
                <td>@pd.Payment</td>
            </tr>
        }
    </tbody>
</table>